DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="your-secret-key-change-in-production-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
NEXT_PUBLIC_PUZZLE_SECRET_KEY="ultra-secret-seed-key-2026"
